*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

picture{
    height: 10em;
    width: 10em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img{
    width: 70%;
}

button{
    height: 5em;
    width: 63%;
}